*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#navbarNavHorizon{
    background-color: #1e1d2b;
}

@media (max-width: 992px) {
    #navbarNav{
        background-color: #2c2b47;
        text-align: center;
    }
    #Navprinc{
        text-align: center;
    }
    #section6{
        display: grid;
        grid-template-columns: 1fr;
    }
    #fils6{
        display: flex;
        flex-direction: column;
    }
    #tit{
        text-align: center;
        margin: auto;
    }
    #linea_footer1{
        margin: auto !important;
        padding: 0;
    }
    #redes{
        height: 60px;
        width: 250px;
        margin: auto;
    }
    #section1, #section2{
        text-align: center;
    }
    #boton1{
        margin: auto;
        margin-bottom: 10%;
    }
    #img1{
        width: 60% !important;
    }
    #Titulo{
        font-size: 350% !important;
    }
    #Titulo2,#Titulo3   {
        font-size: 200% !important;
    }
    #reves{
        flex-direction: column-reverse;
    }
}
body{
    background-color: #1e1d2b;
}


#section6{
    line-height: 1.5;
}
#sec61{
    grid-column: 1/2;
    color: white;
}
#sec62{
    grid-column: 2/3;
    color: white;
}
#sec63{
    grid-column: 3/4;
    color: white;
}
#sec64{
    grid-column: 4/4;
    color: white;
}

.nav-link{
    text-decoration: none;
    color: white;
    text-align: left;
    padding: 0;
    
}
#linea_footer{
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    height: 2px;
    border-radius: 15px;
    width: 30%;
    background-color: #ff702a;
    color:      #ff702a;
    
}
#linea_footer1{
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    height: 2px;
    border-radius: 15px;
    width: 30%;
    background-color: #ff702a;
    color:      #ff702a;
    
}
.navbar-brand{
    color: #ff702a;
    font-size: 30px;
}
#redes{
    
    padding: 0px;
    
}
.eye{
    position:absolute;
    height:28px;
    width:28px;
    z-index: 1;
    
}

.heaven
{
    position:absolute;
    height:36px;
    width:36px;
    z-index: -1;
    
}
#wh{
    margin: 10px;
    padding: 0;
    height: 36px;
    width: 36px;
    position: relative;
    
}
#icon{
    margin: 4px;
}
#subtitle{
    color: #ff702a;
    text-align: center;
    font-size: 20px;
}
#text{
    color: white;
    text-align: center;
    font-size: 40px;
}
#text2{
    color: white;
    text-align: center;
    font-size: 20px;
}
#text3{
    color: #ff702a;
    text-align: center;
    font-size: 20px;
}
#images_service{
    width: 50%;
}
#fils4{
    text-align: center;
    padding: 10px;
    justify-content: center;
}
#Titulo{
    color: #ff702a;
    font-size: 450%;
    width: 100% !important;
}
#Text1{
    color: white;
    font-size: 150%;
    width: 100%!important;
}
#section1, #section2, #section5, #section3{
    padding-left: 10%;
    padding-right: 10%;
}
#img1{
    width: 100%;
}
#sec1izq,#sec2der{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#boton1{
    width: 120px;
    color: white;
    background-color: #ff702a;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border: none;
}
#Titulo2{
    color: white;
    font-size: 350%;
}
#subtitle2{
    color: #ff702a;
    font-size: 20px;
}
#Letrero{
    background-color: #ffefe8  ;
    text-align: center;
    justify-content: center;
    padding-bottom: 5%;
    padding-top: 5%;
}
#Titulo3{
    color: #1e1d2b;
    font-size: 350%;
}
#text4{
    color: #1e1d2b;
    font-size: 25px;
}
#text5{
    color: #1e1d2b;
    font-size: 20px;
}
#text6{
    color: #ff702a;
    font-size: 15px;
}
#contenido{
    margin-top: 10%;
    margin-bottom: 10%;
}
#sec31,#sec32,#sec33{
    background-color: #ffefe8;
    border: 1px solid black;
    line-height: 0.5;
    text-align: center;
}
#shopping{
    text-align: end;
}